body {
  font-family: sans-serif;
  background-image: url("../Images/background.png");
  width: 80vw;
  margin: auto;
  padding: 1vw;
}

/*Top box*/
.descBox {
  grid-area: char; 
  display: grid;
  border-style: double;
  grid-template-areas:
  'charName charDesc1 charDesc2 charDesc3';
}
.charName { 
  grid-area: charName; 
}
.charDesc1 { 
  grid-area: charDesc1; 
}
.charDesc2 { 
  grid-area: charDesc2; 
}
.charDesc3 { 
  grid-area: charDesc3; 
}

/*First column*/
.firstCol { 
  grid-area: firstCol;
  display: grid;
  grid-template-areas:
  'abilScore inspiration inspiration'
  'abilScore skills skills'
  'abilScore skills skills'
  'passPer passPer passPer'
  'prof prof prof';
}
.abilScore { 
  grid-area: abilScore; 
  border-style: solid;
  border-width: 1px; 
  line-height: 2.9;
  padding-top: 10px;
  margin: 1%;
}

.score {
  height: 30px;
  font-size: 20px;
  text-align: center;
}

.middleTextBox {
  text-align: center;
}

.abilScore > hr {
  margin: 5px;
}
.inspiration { 
  grid-area: inspiration;
  border-style: solid;
  border-width: 1px; 
  margin: 1%;
  padding-top: 20px;
  line-height: 50px;
}
.passPer { 
  grid-area: passPer;
  border-style: solid;
  border-width: 1px; 
  padding: 5px;
  margin: 1%;
}
.prof {
  grid-area: prof;
  border-style: solid;
  border-width: 1px; 
  margin: 1%;
  padding: 5px;
}
.skills {
  grid-area: skills;
  display: inline;
  text-align: left;
  padding: 5px;
  border-style: solid;
  border-width: 1px; 
  margin: 1%;
  line-height: 2;
}
/*Second column*/
.points {
  grid-area: points;
  display: grid;
  line-height: 30px;

  grid-template-areas:
  'armor initative speed'
  'hit hit hit'
  'hitDice death death'
  'atkspl atkspl atkspl'
  'stuff stuff stuff'
}

.armor {
  grid-area: armor;
  border-style: solid;
  border-width: 1px; 
  padding-top: 10px; 
  margin: 1%;
}

.initative {
  grid-area: initative;
  border-style: solid;
  border-width: 1px; 
  padding-top: 10px; 
  margin: 2%;
}

.speed {
  grid-area: speed;
  border-style: solid;
  border-width: 1px; 
  padding-top: 10px; 
  margin: 1%;
}

.hit {
  grid-area: hit;
  border-style: solid;
  border-width: 1px; 
  padding: 10px;
  margin: 1%;
}

.hitDice {
  grid-area: hitDice;
  border-style: solid;
  border-width: 1px; 
  padding-top: 10px; 
  line-height: 30px;
  margin: 1%;
}

.death {
  grid-area: death;
  padding-top: 10px; 
  border-style: solid;
  border-width: 1px; 
  margin: 1%;
}

.name {
  grid-area: name;
}

.bonus {
  grid-area: bonus;
}

.damage {
  grid-area: damage;
}

.attack {
  grid-area: attack;
}

.atkspl {
  display: grid;
  grid-area: atkspl;
  grid-template-areas:   
  'name bonus damage'
  'attack attack attack';
  border-style: solid;
  border-width: 1px;
  margin: 1%;
}

.equipment {
  grid-area: equipment;
  padding: 5px;
  margin: 1%;
}

.money {
  display: inline;
  text-align: right;
  grid-area: money;
  padding: 5px;
  margin: 1%;
  font-size: 10px;
  line-height: 30px;
}

.stuff {
  grid-area: stuff;
  display: grid;
  border-style: solid;
  border-width: 1px; 
  grid-template-areas: 
  'money equipment equipment';
}

/*Third column*/
.feat {
  grid-area: feat;
  border-style: solid;
  border-width: 1px; 
  padding: 5px;
}
  
.grid-container {
  display: grid;
  grid-template-areas:
    'char char char'
    'firstCol points feat'
    'firstCol points feat'
    'firstCol points feat'
    'firstCol points feat';
  grid-gap: 10px;
  padding: 1vw;
  background-color: white;
  border-style: inset;
  border-color: red;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  font-size: 1vw;
}
  
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
}

.autoGenerate {
  display: grid;
  justify-content: center;
}