body {
    font-family: sans-serif;
    background-image: url("../Images/EldBackground.png");
    width: 80vw;
    margin: auto;
    padding: 1vw;
  }

header {
    padding: 1vh;
    padding-left: 3vw;
    background-color: white;
    border-style: inset;
    border-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
  
.log {
    background-color: white;
    border-style: inset;
    border-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    padding: 4vw;
    line-height: 3vh;
}

.reg {
    background-color: white;
    border-style: inset;
    border-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    padding: 4vw;
    line-height: 3vh;
}